/* Default CSS Stylesheet for a new Web Application project */

/*	background-color: aliceblue;*/
BODY
{
	font-size: 9pt;
	word-spacing: normal;
	text-transform: none;
	color: navy;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: gainsboro;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
	font-weight: bold;
	font-size: 11pt;
	color: black;
	font-family: Verdana, Arial;
}
H1
{
	font-weight: 700;
	font-size: 14pt;
	word-spacing: normal;
	text-transform: none;
	color: green;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	text-decoration: none;
}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3
{
	font-weight: bold;
	font-size: 11pt;
	word-spacing: normal;
	color: #ffffff;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: steelblue;
	text-decoration: none;
}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	12pt;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	11pt;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link
{
	font-size: 10pt;
	/*color: darkblue; */
	color: white  
	text-decoration: underline;
	height: 16px;
}	
		
A:visited
{
	font-size: 10pt;
	color: steelblue;
	text-decoration: underline;
}	
		
A:active
{
	color:  #ff6600;
	text-decoration: none;
}	
		
A:hover
{
	color: #ff6600;
	background-color: #ffcc66;
	text-decoration: none;
}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE
{
	font-family: Courier New, monospace;
}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG
{
	margin-top: 1px;
	font-weight: bolder;
	margin-left: 1px;
	margin-right: 1px;
}


.Titulo
{
	font-weight: bold;
	font-size: 13pt;
	color: white;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #6699cc;
}


.SubTitulo
{
	font-weight: bold;
	font-size: 10pt;
	color: navy;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: gainsboro;
}

.Opciones
{
	font-size: 10pt;
	color: navy;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: gainsboro;
}

.Cabecera
{
	font-weight: normal;
	font-size: 10pt;
	color: mediumvioletred;
	font-family: Verdana, Helvetica, sans-serif, 'Arial Black';
}

.Tabla
{
	font-weight: normal;
	font-size: 10pt;
	color: darkblue;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: WhiteSmoke;
}

.Form
{
	font-weight: normal;
	font-size: 10pt;
	color: darkblue;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	/*background-color: WhiteSmoke;*/
}
.Dato
{
	color: black;
}



/* Mensaje Informativo para el usuario */
.Msg
{
	font-weight: normal;
	font-size: 10pt;
	color: blue ;
}

.Error
{
	color: red ;
}

/* Mensaje de Error para el usuario, en los botones grabar */
.MsgError
{
	color: red ;
	background-color: ivory;
	border-color: cadetblue;
}


.Grid
{
	font-family: Arial;
	font-size: 9pt;
	Border-Color: CadetBlue;
	color: Black; 

}

.GridHeader
{
	font-family: Arial;
	font-size: 9pt;
/*	color: white; */
/*	background-color: #6699cc;*/
	background-color: beige;
	text-align: center;
}

.GridData
{
	background-color:Azure;
	}
.GridAlterna
{
	background-color:WhiteSmoke;
}
.GridSelect
{
	background-color: Lavender;
}
.GridFooter
{
	font-family: Arial;
	font-size: xx-small;
}

.GridButton
{	font-family:Arial ;
	font-size:xx-small; 	}

.CabComentario
{
	font-size: 12px;
	color: #333366;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	text-decoration: none;
}
.CabFecha {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333366;
	text-decoration: none;

}

/* use css for Hide and Show of BoundFiled

	 <ItemStyle CssClass="Hide" />
     <HeaderStyle CssClass="Hide" />
 */ 
.Hide { display:none; }


